*.swp
*.class
*.sql
.classpath
.project
.metadata
.DS_Store
MyCassandra-0.1.0/bin/
MyCassandra-0.1.0/build/
MyCassandra-0.1.0/*.xml
MyCassandra-0.1.0/contrib/
MyCassandra-0.1.0/debian/
MyCassandra-0.1.0/src/gen-java/
MyCassandra-0.1.0/lib/
MyCassandra-0.2.0/bin/
MyCassandra-0.2.0/build/
MyCassandra-0.2.0/*.xml
MyCassandra-0.2.0/contrib/
MyCassandra-0.2.0/debian/
MyCassandra-0.2.0/src/gen-java/
MyCassandra-0.2.0/interfaces/avro/gen-java
MyCassandra-0.2.0/interfaces/avro/cassandra.avpr
MyCassandra-0.2.1/src/gen-java/
MyCassandra-0.2.1/bin/
MyCassandra-0.2.1/build/
MyCassandra-0.2.1/*.xml
MyCassandra-0.2.1/contrib
MyCassandra-0.2.1/debian/
MyCassandra-0.2.1/interfaces/avro/gen-java
MyCassandra-0.2.1/interfaces/avro/cassandra.avpr
*/gen-java/*
